<div class="container">
  <div class="row">
    <div class="col-8">
      <h2 class="my-3">Add New Comic</h2>
      {{#if errors }}
      {{#each errors }}
      <p class="alert alert-danger">{{ this.msg }}</p>
      {{/each}}
      {{/if}}
      {{{messages.errors}}}
      <form action="/comics/save" method="post" enctype="multipart/form-data">
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" autofocus="" value="">
          </div>
        </div>
        <div class="form-group row">
          <label for="writer" class="col-sm-2 col-form-label">Writer</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="writer" name="writer" value="">
          </div>
        </div>
        <div class="form-group row">
          <label for="publisher" class="col-sm-2 col-form-label">Publisher</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="publisher" name="publisher" value="">
          </div>
        </div>
        {{!-- <div class="form-group row">
          <label for="cover" class="col-sm-2 col-form-label">Cover</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="cover" name="cover" value="">
          </div>
        </div> --}}
        <div class="form-group row">
          <label for="cover" class="col-sm-2 col-form-label">Cover</label>
          <div class="col-sm-2">
            <img src="/uploads/nopic.jpg" alt="prev" class="img-thumbnail img-preview">
          </div>
          <div class="col-sm-8">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="cover" name="cover" onchange="previewImage()">
              <label for="cover" class="custom-file-label">Choose file</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>